@tailwind base;
@tailwind components;
@tailwind utilities;

.warp {
  background-image: linear-gradient(to top, rgba(68, 67, 67, 0) 0%, rgba(45, 45, 45) 100%);
  -webkit-backdrop-filter: blur(50px);
  backdrop-filter: blur(50px);
  border-radius: 10px;
  position: fixed;
  top: 0;
  z-index: 80;
  width: 100%;
}

.MY {
  font-family: "poppins";
  transition: color 0.3s ease;
}

.MY:hover {
  color: #6da1f5;
}

.MY.text-blue-500 {
  color: #6da1f5;
}

.drop {
  background-color: rgba(35, 35, 35, 0.792);
  width: 12rem;
}
